*{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #1b013d;
    padding: 16px;
    color: #f0f8ff;
    align-items: center;
}

.header-logo img{
    height: 80px;
}

.header-logo img:hover {
    height: 90px;
    border: none;
    border-radius: 0;
}

.header-nav ul {
    display: flex;
    list-style-type: none;
    font-size: 22px;
    gap:  16px;
    margin-right: 30px;
}

.header-nav a {
    color: aliceblue;
    text-decoration: none;
    padding: 12px;
    border-radius: 6px;
}

.header-nav a:hover{
    background-color: #6302e2;
}

main{
    margin-top: 36px;
}

.img-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img:hover{
    filter:drop-shadow7(px 9px 9px,#6302e2);
    border: 6px solid #6302e2;
    border-radius: 6px;
}

img:hover .logo{
    border: none;
    border-radius: 6px;
}

.div-img {
    height: 250px;
    margin-bottom: 36px;
}
.size{
    height: 100%;
}


footer{
    background-color: #1b013d;
    padding: 16px;
    color: #f0f8ff;
    text-align: center;
    font-weight: 600;
}